[Unit]
Description=flaskex.service
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /tmp/app.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target
